<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction Page</title>
</head>
<body>
    <h1>Through the points below you can carry out product management</h1>
    <div>
        <ul style= 'font-size: 24px;'>
            <li><a href="/listaroperacoes" style='padding-right: 10px;'>Operation List</a></li>
            <li><a href="/add_product" style='padding-right: 10px;'>Add Products</a></li>
            <li><a href="/remove_product" style='padding-right: 10px;'>Remove Products</a></li>
            <li><a href="/updateproduct" style='padding-right: 10px;'>Update Products</a></li>
        </ul>
    </div>
</body>
</html>