<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Products</title>
</head>
<body>
    <nav style= 'font-size: 20px;'> <!--Define uma barra de navegação para os links de navegação-->
        <a href="/" style='padding-right: 10px;'>Home</a>
        <a href="/listaroperacoes" style='padding-right: 10px;'>Operation List</a>
        <a href="/add_product" style='padding-right: 10px;'>Add Products</a>
        <a href="/remove_product" style='padding-right: 10px;'>Remove Products</a>
        <a href="/updateproduct" style='padding-right: 10px;'>Update Products</a>
    </nav>
    <ul style = 'font-size: 20px;' >
        <li><a href="/listaroperacoes/M1">Listar todos os produtos</a></li>
        <li><a href="/listaroperacoes/M2">Devolver os dados de um produto</a></li>
        <li><a href="/listaroperacoes/M3">Devolver rating médio de todos os produtos</a></li>
        <li><a href="/listaroperacoes/M4">Devolver todos os produtos cujo preço seja maior que um determinado valor</a></li>
        <li><a href="/listaroperacoes/M5">Devolver todos os produtos de uma determinada marca e cujo preço seja superior a X</a></li>
        <li><a href="/listaroperacoes/M6">Devolver todos os produtos de uma determinada marca</a></li>
        <li><a href="/listaroperacoes/M7">Devolver todos os produtos ordenados por rating (decrescente)</a></li>
        <li><a href="/listaroperacoes/M8">Devolver o número de produtos registados</a></li>
        <li><a href="/listaroperacoes/M9">Devolver todos os produtos que tenham imagens</a></li>
    </ul>
</body>
</html>